body {
  background-color: lavender;
}

#div-styling {
  background-color: peachpuff;
}

.list-item {
  background-color: darkseagreen;
}

.main-heading {
  background-color: aqua;
}

#first-paragraph {
  background-color: pink;
}

#purple {
  background-color: mediumpurple;
}

#gold {
  background-color: gold;
}
